/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #be1622;
  background-image: url("../images/background.jpg");
  background-size: auto 353px;
  background-repeat: no-repeat;
  background-position: top center;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  font-family: "Sans";
  font-weight: bold;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 10px;
  height: 100%;
  min-height: 100%;
  padding: 80px 0px 20px;
  margin: auto;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 37px;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
  height: 274px;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  background-image: url("../images/logo-header.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 367px;
  height: 274px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

.register-form {
  padding: 0px 11px 11px;
}
.slogan-panel {
  background-color: #f9b233;
  height: 100px;
  margin-top: -1px;
}

.slogan-panel h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 16px;
  padding-top: 8%;
}

.register-form form {
  background-color: white;
  padding: 12px 25px 0px;
  border-bottom-left-radius: 27px;
  border-bottom-right-radius: 27px;
  color: black;
}

.register-form form .submit-form {
  margin: 0px -25px;
  width: 365px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 27px;
  border-bottom-right-radius: 27px;
  background-color: #f9b233;
  border-color: #f9b233;
}

.register-form form .submit-form:hover {
  background-color: #f3a319;
  border-color: #f3a319;
}

/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}
